# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://rmnjqlfbpomvklxgekgu.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtbmpxbGZicG9tdmtseGdla2d1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc1MzM5OTgsImV4cCI6MjA4MzEwOTk5OH0.Cv8_Vyl15e_oxOXKSJVO3ekgVdb1tXl08jsWCiyfNJo
